---
properties:
  # domain: some-domain
  director_uuid: "..."
  openstack:
    net_id: "..."
    auth_url: "..."
    tenant: "..."
    username: "..."
    api_key: "..."
    default_key_name: "..."
    default_security_group: "..."
    floating_ip: 192.168.x.x

  networks:
    private_subnet:
      prefix: '10.10'
      net_id: '...'
      dns: '192.168.0.2'
